@model List<Timesheet.Micro.Models.Viewmodels.CustomerOverview>
@{
    ViewBag.Title = "Skjulte / inaktive prosjekter";
}
<h2>Skjulte / inaktive prosjekter</h2>

<div>
    <div>
        @Html.ActionLink("Se aktive prosjekter", "Index")
    </div>
    @Html.Partial("_List", Model)

    <div>
        @Html.ActionLink("Se aktive prosjekter", "Index")
    </div>
</div>