@model List<Timesheet.Micro.Models.Viewmodels.CustomerOverview>
@{
    ViewBag.Title = "Skjulte / inaktive kunder";
}

<div>
    <div>
        @Html.ActionLink("Se aktive kunder", "Index")
    </div>
    @Html.Partial("_List", Model)

    <div>
        @Html.ActionLink("Se aktive kunder", "Index")
    </div>
</div>